.favorite {
  color: red;
}

.unfavorite {
  color: grey;
}

table {
  width: 75%;
  min-width: 320px;
  margin: 0 auto;
  table-layout: fixed;
}

th, td {
  width: 16.66%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.mat-column-title {
  text-align: left;
}

td.title-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  table, th, td {
    font-size: 12px;
    padding: 4px;
  }
}
